*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.overall{
    width: 100%;
    min-height: 100vh;
    padding-top: 75px;
}
nav{
    width: 100%;
    min-height: 20px;
    padding: 10px;
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: white;
}
.navparent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    min-width: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 25px;
    display: none;
}
.nav{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid black; */
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav2{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav2 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
}
.nav2 button{
    width: 110px;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgba(0, 93, 156, 1);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;

}
.nav2 span:hover{
    border-bottom: 2px dotted rgba(0, 93, 156, 1);
    color: rgba(0, 93, 156, 1);
}
.nav2 a:hover{
    color: rgba(0, 93, 156, 1);   
}

/* <!----------------------------- Container ------------------------------------> */


.container{
    width: 100%;
    height: 100vh;
    background-image: url("./images/1e036ea2c1869d84c7deaa73893a35364ab723fa.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.innercontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(180deg, #007acca9 100%, #012d4a 100%,#002944 100%);

    /* background: linear-gradient(180deg, #007acccb 0%, #003d66c0 100%); */
}
.containchild{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.containchild h1{
    font-size: 70px;
    width: 280px;
    color: white;
    font-family: "Inter", sans-serif;
}
.innerchild{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.i i{
    width: 40px;
    height: 40px;
    background: rgba(46, 125, 50, 1);
    border-radius: 50%;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    font-family: "Inter", sans-serif;
}
.i li{
    list-style:disc;
    font-family: "Inter", sans-serif;
}
.innerchild button{
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    font-size: 17px;
    border:  none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
}
.containchild2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innercont{
    width: 60%;
    height: 70%;
    /* border: 1px solid white; */
}
.innercont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


        /* <!----------------------------- Treatments We Offer ----------------------------> */


.treatment{
    width: 100%;
    min-height: 80vh;
    /* border: 1px solid black; */
}
.treatment h1{
    text-align: center;
    font-size: 35px;
    padding: 10px 0px;
    color: rgba(0, 93, 156, 1);
    font-family: "Inter", sans-serif;
}
.alltreat{
    width: 80%;
    min-height: 50%;
    padding: 30px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 20px;
}
.treatbox{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    background: rgba(0, 93, 156, 1);
    transition: all 1s;
    box-shadow: 1px 10px 20px black;
}
.treatbox img{
    width: 100px;
    height: 120px;
}
.treatbox:hover{
    scale: 1.05;
    background: linear-gradient(180deg, #005D9C 50%, #FFFFFF 137.27%);
}
.treatbutton{
    width: 100%;
    height: 10%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.treatbutton button{
    width: 140px;
    padding: 8px;
    font-size: 17px;
    background: rgba(0, 93, 156, 1);
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border: none;
    color: white;
    transition: all 1s;
    font-family: "Inter", sans-serif;
}
.treatbutton button:hover{
    scale: 1.03;
    box-shadow: 2px 5px 10px black;
}


        /* <!--------------------------- Our Specialists Doctors ------------------------------> */


.Doctors{
    width: 100%;
    min-height: 50vh;
    /* border: 1px solid black; */
}
.Doctors  h1{
    text-align: center;
    font-size: 35px;
    padding: 20px 0px;
    color: rgba(0, 93, 156, 1);
    font-family: "Inter", sans-serif;
}
.Doctorsimg{
    width: 100%;
    min-height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px 20px;
}

.box {
  width: 250px;
  height: 250px;
  position: relative;
  transition: all 1s;
}
.box:hover{
    filter: drop-shadow(10px 10px 10px black);
    scale: 1.04;
}
.box:hover .inbox1{
    background-color: rgb(212, 211, 211);
}
.inbox {
  width: 250px;
  height: 250px;
  background-color: deepskyblue;
  /* border: 2px black; */
  clip-path: path("M 25,0 L 225,0 A 25,25,0,0,1 250,25 L 250,160 A 28,28,0,0,1 220,190 A 28,28,0,0,0 190,220 A 28,28,0,0,1 160,250 A 25,25,0,0,1 25,250 A 23,23,0,0,1 0,230 A 25,25,0,0,1 0,25 A 25,25,0,0,1 25,0 Z");
}
.inbox1 {
  width: 245px;
  height: 245px;
  background-color: white;
  padding:10px 5px 8px 8px;
  transition: all 1s;
  clip-path: path("M 30,5 L 220,5 A 25,25,0,0,1 245,25 L 245,155 A 28,28,0,0,1 215,185 A 30,30,0,0,0 185,215 A 28,28,0,0,1 155,245 A 25,25,0,0,1 20,245 A 23,23,0,0,1 5,220 L 5,20 A 23,23,0,0,1 30,5 ");
}
.a{
  width: 100%;
  height: 65%;
  border-radius: 30px;
}
.a img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.a1{
  width: 70%;
  height: 35%;
  padding-top: 8px;
  padding-left: 5px;
}
.a1 button{
  min-width: 100px;
  border: 1px solid deepskyblue;
  border-radius: 30px;
  color: deepskyblue;
  background-color: white;
  padding: 5px;
font-family: "Inter", sans-serif;
}
.a1 h2{
  font-size: 18PX;
  border-radius: 30px;
  padding: 8px;
  text-align: center;
  background-color: rgb(24, 65, 188);
  color: white;
  margin-top: 10px;
  transition: all 5s;
    font-family: "Inter", sans-serif;
}
.box:hover .first{
    display: none;
}
.sec{
    display: none;
}
.box:hover .sec{
    display: block;
}
.a1 button i{
  font-size: 10px;
  margin-right: 5px;
}
.a2{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box:hover .a2 i{
    background-color: rgb(212, 211, 211);
}
.a2 i{
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 8px;
  color: deepskyblue;
  border: 2px solid deepskyblue;
  transition: all 1s;
}
.aa button{
  color: gray;
    color: rgba(0, 93, 156, 1);
    font-family: "Inter", sans-serif;
}



/* <--------------------------------- footer -----------------------------------------------> */
footer{
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    background: rgba(0, 93, 156, 1);
}
.innerfooter1{
    width: 100%;
    min-height: 46vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.foot{
    width: 200px;
    height: 250px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.foot1,.foot3{
    width: 350px;
}
.logo1{
    width: 70px;
    height: 70px;
    background-color:white;
    border-radius: 50%;
}
.logo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foot1 p{
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    padding: 10px 0px;
}
.foot h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}
.ul{
    padding: 0px;
}
li{
    padding: 10px 0px;
    font-size: 15px;
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
}
li i{
    padding: 0px 10px 0px 0px;
}
.innerfooter2{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerfooter2 p{
    color: white;
    font-family: "Inter", sans-serif;
}

/* <--------------------------------- respons for 900px to 1150px -----------------------------------> */

@media only screen and (min-width:900px) and (max-width:1150px) {
.nav2 a{
    font-size: 17px;
}
.nav2 button {
    width: 95px;
    font-size: 15px;
}

/* <!----------------------------- Respons Container ------------------------------------> */

.containchild{
    width: 60%;
    padding: 30px;
}
.containchild h1{
    font-size: 60px;
}
.containchild2{
    width: 40%;
}
.innercont {
    width: 100%;
}
.i ul{
    padding: 0px;
}
.innerchild button {
    width: 190px;
    font-size: 15px;
}

        /* <!----------------------------------respons our mission ---------------------------> */


.welcomechild{
    padding: 0px;
}
.docchildimg {
    width: 80%;
}
.welcomechild h1 {
    width: 100%;
    font-size: 35px;
}
.welcomeinner2 p {
    font-size: 17px;
    line-height: 25px;
}

        /* <!--------------------------respons Services We Offer -------------------------------> */

.deportbox h3 {
    font-size: 13px;
}
.treatbox img {
    width: 80px;
    height: 80px;
}
.treatbox h3{
    font-size: 18px ;
}


/* <!-------------------------- General OPD Hours ------------------------------------> */

.opd{
    justify-content: space-evenly;
    gap: 20px;
}
.hours{
    width: 180px;
    padding: 15px 0px;
}
.hours i{
    font-size: 35px;
}
.hours h2{
    font-size: 16px;
}


        /* <!----------------------- FOOTER ----------------------------> */

footer{
    padding: 20px 15px;
}
.foot{
    padding: 0px;
}
.ul li{
    font-size: 15px;
    padding: 6px 0px;
}

}


/* <-------------------------------- Respons for 600px to 900px -------------------------------------> */

@media only screen and (min-width:600px) and (max-width:900px) {
    
    
    .navparent{
        position: relative;
    }
    .nav2{
        width: 300px;
        min-height: 450px;
        position: absolute;
        flex-direction: column;
        top: 70px;
        right: -10px;
        transform: translateX(100%);
        background-color: rgba(20, 20, 20, 0.712);
        transition: all 1s;
    }
    .name{
        display: block;
    }
    .navparent i{
        display: block;
    }
    .nav2 a{
        color: white;
    }

    

/* <!----------------------------- Respons Container ------------------------------------> */

.innercontainer{
    justify-content: start;
}
.containchild{
    width: 500px;
    padding: 20px;
}
.containchild h1 {
    font-size: 55px;
}
.containchild2{
    width: 50%;
    justify-content: start;
    position: absolute;
    right: 0px;
    top: 60px;
    /* padding: 0px; */
}
.innercont {
    width: 100%;
    height: 80%;
}
.innercont img {
    width: 280px;
    height: 300px;
}
.i li{
    font-size: 13px;
}
.i ul{
    padding: 0px;
}
.innerchild{
    padding: 10px;
    justify-content: space-between;
}
.innerchild button {
    width: 190px;
    font-size: 15px;
}


.treatbox img {
    width: 80px;
    height: 80px;
}
.treatbox h3{
    font-size: 18px ;
}

        /* <!----------------------------------respons our mission ---------------------------> */

.welcomeinner1{
    height: 85vh;
    flex-direction: column;
}
.welcomechild{
    width: 100%;
    padding: 0px;
}
.docchild {
    height:64vh;
}
.docchildimg {
    width: 340px;
    height: 350px;
}
.welcomechild h1 {
    width: 80%;
    font-size: 35px;
}
.welcomeinner2{
    width: 100%;
    padding: 20px 0px;
}
.welcomeinner2 p {
    font-size: 17px;
    line-height: 25px;
}

        /* <!----------------------------- Departments ---------------------------------> */

.sliding{
    min-width: 420%;
}

.departslid{
    gap: 20px;
}
.departbox {
    min-width: 80px;
}
.deportbox h3 {
    font-size: 13px;
}

/* <!-------------------------- General OPD Hours ------------------------------------> */

.opd{
    justify-content: space-between;
    gap: 20px;
}
.hours{
    width: 180px;
    padding: 15px 0px;
}
.hours i{
    font-size: 30px;
}
.hours h2{
    font-size: 16px;
}

        /* <!----------------------- FOOTER ----------------------------> */

footer{
    padding: 20px 15px;
}
.foot{
    padding: 0px;
}
.ul li{
    font-size: 15px;
    padding: 6px 0px;
}

/* <--------------------------- all h1 -----------------------------------------------> */
.treatment h1,.department h1,.services h1,.Doctors h1,.bed h1,.genaral h1,.patient h1 {
    font-size: 30px;
}
}

@media only screen and (min-width:800px) and(max-width:900px) {
    .sliding{
        width: 300%;
    }
}


/* <-------------------------------- response for 300px to 600px----------------------------------------------> */


@media only screen and (min-width:300px) and (max-width:600px) {
    .overall{
        padding-top: 70px;
    }
    nav{
        padding: 10px;
    }
    .navparent{
        position: relative;
    }
    .navparent i{
        font-size: 25px;
    }
    .nav2{
        width: 250px;
        min-height: 445px;
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: -30px;
        transform: translateX(100%);
        background-color: rgba(0, 0, 0, 0.705);
        transition: all 1s;
    }
    .name{
        display: block;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .nav2 a{
        color: white;
    }

    

/* <!----------------------------- Respons Container ------------------------------------> */

.innercontainer{
    justify-content: start;
}
.containchild{
    width: 100%;
    padding: 10px;
    z-index: 2;
}
.containchild h1 {
    width: 20%;
    font-size: 40px;
}
.containchild2{
    width: 100%;
    justify-content: start;
    align-items: end;
    position: absolute;
    right: 0px;
    top: 70px;
    padding: 0px;
    z-index: 1;
}
.innercont {
    width: 70%;
    height: 80%;
}
.innercont img {
    width: 210px;
    height: 230px;
}
.i i{
    width: 35px;
    height: 35px;
    font-size: 15px;
}
.i li{
    font-size: 8px;
}
.i ul{
    padding: 0px;
}
.innerchild{
    padding-left: 10px;
    height: 100px;
    justify-content: space-between;
}
.innerchild button {
    width: 130px;
    font-size: 13px;
}

        /* <!----------------------------------respons our mission ---------------------------> */
.mission{
    padding: 20px;
}
.welcomeinner1{
    height: 85vh;
    flex-direction: column;
}
.welcomechild{
    width: 100%;
    padding: 0px;
}
.docchild {
    height:64vh;
}
.docchildimg {
    width: 340px;
    height: 330px;
}
.welcomechild h1 {
    width: 90%;
    font-size: 25px;
}
.welcomeinner2{
    width: 100%;
    /* height: 70vh; */
    padding: 20px 0px;
}
.welcomeinner2 p {
    font-size: 15px;
    line-height: 25px;
}
.welcomeinner2 li {
    font-size: 13px;
}
.welcomeinner2 h2{
    font-size: 20px;
}

.treatbox img {
    width: 70px;
    height: 90px;
}
.treatbox {
    width: 150px;
    height: 190px;
}
.treatbutton button {
    width: 125px;
    font-size: 14px;
}

        /* <!----------------------------- Departments ---------------------------------> */

.sliding{
    min-width: 755%;
}

.departslid{
    gap: 20px;
}
.departbox {
    min-width: 80px;
}
.deportbox h3 {
    font-size: 13px;
}

/* <!-------------------------- General OPD Hours ------------------------------------> */

.opd{
    justify-content: center;
    gap: 20px;
}
.hours{
    width: 180px;
    padding: 15px 0px;
}
.hours i{
    font-size: 30px;
}
.hours h2{
    font-size: 16px;
}
.Doctorsimg {
    gap: 40px 40px;
    padding: 20px;
}
        /* <!----------------------- FOOTER ----------------------------> */

footer{
    padding: 20px 15px;
}
.foot{
    width: 100%;
    height: 180px;
    padding: 0px;
}
.ul li{
    font-size: 15px;
    padding: 6px 0px;
}
.innerfooter2 p{
    font-size: 10px;
}

/* <--------------------------- all h1 -----------------------------------------------> */
.treatment h1,.department h1,.services h1,.Doctors h1,.bed h1,.genaral h1,.patient h1 {
    font-size: 27px;
}
}

@media only screen and (min-width:400px) and (max-width:600px) {
    .innerchild {
        justify-content: space-evenly;
    }
    .i li{
        font-size: 12px;
    }
    .innercont{
        display: flex;
        justify-content: center;
    }
    .innercont img {
        width: 250px;
        height: 250px;
    }
    .innerchild{
        height: 130px;
    }
    .innerchild button {
        width: 156px;
        font-size: 14px;
    }
    .sliding {
        min-width: 550%;
    }
}

@media only screen and (min-width:800px) and(max-width:900px) {
    .sliding{
        width: 300%;
    }
}